[submodule "dev-lib"]
	path = dev-lib
	url = https://tfirdaus@github.com/xwp/wp-dev-lib
[submodule "includes/bb-metabox"]
	path = includes/bb-metabox
	url = https://tfirdaus@github.com/justintadlock/butterbean
[submodule "includes/ogp"]
	path = includes/ogp
	url = https://tfirdaus@github.com/niallkennedy/open-graph-protocol-tools
[submodule "includes/wp-settings"]
	path = includes/wp-settings
	url = https://tfirdaus@github.com/ninecodes/wp-settings
