[submodule "admin/partials/butterbean-extend"]
	path = admin/partials/butterbean-extend
	url = https://tfirdaus@github.com/tfirdaus/butterbean-extend.git
[submodule "admin/partials/pepperplane"]
	path = admin/partials/pepperplane
	url = https://tfirdaus@github.com/tfirdaus/pepperplane.git
[submodule "admin/partials/butterbean"]
	path = admin/partials/butterbean
	url = https://tfirdaus@github.com/justintadlock/butterbean
