<phpunit
	bootstrap="dev-lib/phpunit-plugin-bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">./tests/phpunit/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">./</directory>
			<exclude>
				<directory suffix=".php">./dev-lib</directory>
				<directory suffix=".php">./node_modules</directory>
				<directory suffix=".php">./tests</directory>
				<directory suffix=".php">./vendor</directory>
				<directory suffix=".php">./build</directory>
				<directory suffix=".php">./admin/partials/metabox</directory>
				<directory suffix=".php">./admin/partials/settings</directory>
				<directory suffix=".php">./public/partials/ogp</directory>
				<directory suffix=".php">./includes/class-requirements.php</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
