/**
 * Basic Elements Styling
 */

[class^="social-manager"] svg {
    width: 26px;
    height: 26px;
    display: block;
}

[class^="social-manager"] a {
    display: inline-block;
    text-decoration: none;
    box-shadow: none !important;
    /** override TwentySixteen default styles **/
    border: 0 !important;
}


/**
 * Icon and Text Coloring
 */

[class^="social-manager"] .item-facebook:hover {
    color: #3b5998;
}

[class^="social-manager"] .item-twitter:hover {
    color: #1da1f2;
}

[class^="social-manager"] .item-instagram:hover {
    color: #833ab4;
}

[class^="social-manager"] .item-pinterest:hover {
    color: #bd081c;
}

[class^="social-manager"] .item-linkedin:hover {
    color: #0077b5;
}

[class^="social-manager"] .item-googleplus:hover {
    color: #dd4b39;
}

[class^="social-manager"] .item-youtube:hover {
    color: #cd201f;
}

[class^="social-manager"] .item-reddit:hover {
    color: #ff4500;
}

[class^="social-manager"] .item-tumblr:hover {
    color: #35465c;
}

[class^="social-manager"] .item-email:hover {
    color: #999;
}

[class^="social-manager"] .item-facebook:hover svg {
    fill: #3b5998;
}

[class^="social-manager"] .item-twitter:hover svg {
    fill: #1da1f2;
}

[class^="social-manager"] .item-instagram:hover svg {
    fill: #833ab4;
}

[class^="social-manager"] .item-pinterest:hover svg {
    fill: #bd081c;
}

[class^="social-manager"] .item-linkedin:hover svg {
    fill: #0077b5;
}

[class^="social-manager"] .item-googleplus:hover svg {
    fill: #dd4b39;
}

[class^="social-manager"] .item-youtube:hover svg {
    fill: #cd201f;
}

[class^="social-manager"] .item-reddit:hover svg {
    fill: #ff4500;
}

[class^="social-manager"] .item-tumblr:hover svg {
    fill: #35465c;
}

[class^="social-manager"] .item-email:hover svg {
    fill: #999;
}


/**
 * ================================================
 * General
 * ================================================
 */

/**
 * Social Buttons
 */
.social-manager-buttons__list {
    display: block;
}
.social-manager-buttons__item {
    margin-left: .86em;
}
.social-manager-buttons .social-manager-buttons__heading {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 0.864em;
}

/**
 * Social Profiles
 */
.social-manager-profiles {
    margin-bottom: 1.5em;
}
.widget .social-manager-profiles {
    margin-bottom: 0;
}

/**
 * ================================================
 * View Icons
 * ================================================
 */

.social-manager-buttons__list--icon .social-manager-buttons__item,
.social-manager-profiles--icon .social-manager-profiles__item {
    width: 26px;
    height: 26px;
    margin-left: .5em;
    display: inline-block;
}


/**
 * ================================================
 * View Text
 * ================================================
 */

/**
 * Social Buttons
 */
.social-manager-buttons__list--text a {
    margin-left: 1em;
}

/**
 * Social Profiles
 */
.social-manager-profiles--text a {
    margin-left: .8em;
}
.widget .social-manager-profiles--text a {
    margin: 0;
    padding: .64em 0;
    display: block;
}


/**
 * ================================================
 * View Icon Text
 * ================================================
 */

.social-manager-buttons__list--icon_text {
    font-size: 0.86em;
}

.social-manager-profiles--icon_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.social-manager-profiles--icon_text .social-manager-profiles__item {
    margin-left: .5em;
}
.widget .social-manager-profiles--icon_text {
    display: block;
}

.social-manager-buttons__list--icon_text,
.social-manager-buttons__list--icon_text a,
.social-manager-profiles--icon_text a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.social-manager-buttons__list--icon_text a,
.social-manager-profiles--icon_text a {
    padding-top: .46em;
    padding-bottom: .46em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social-manager-profiles__item-icon,
.social-manager-buttons__item-icon {
    display: block;
    width: 26px;
    height: 26px;
    margin: 0 0 0 6px;
}

/**
 * Buttons Content
 */
.social-manager-buttons--content-before {
    margin-bottom: 2em;
}
.social-manager-buttons--content-after {
    margin-top: 2em;
}


/**
 * Buttons Image
 */
.social-manager-buttons--img {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 0.86em;
}
.social-manager-buttons--img .social-manager-buttons__list {
    position: absolute;
    top: 8px;
    right: 8px;
    visibility: hidden;
}
.social-manager-buttons--img .social-manager-buttons__item {
    margin-left: 0;
    background-color: #000;
    color: #fff;
    padding: 6px 8px;
    border-radius: 3px;
    margin-bottom: 0;
}
.social-manager-buttons--img .social-manager-buttons__item:hover {
    color: #fff;
}
.social-manager-buttons--img .social-manager-buttons__item svg,
.social-manager-buttons--img .social-manager-buttons__item:hover svg {
    fill: #fff;
}
.social-manager-buttons--img .item-pinterest {
    background-color: #bd081c;
}
.social-manager-buttons--img:hover img {
    opacity: 0.8;
}
.social-manager-buttons--img:hover .social-manager-buttons__list {
    visibility: visible;
}
.social-manager-buttons--img .social-manager-buttons__list--icon .social-manager-buttons__item {
    width: 34px;
    height: 34px;
    padding: 4px;
    display: block;
}
.social-manager-buttons--img .social-manager-buttons__list--text .social-manager-buttons__item {
    padding: 6px 12px;
}

/**
 * "Social Profiles" Widget
 */
.widget .social-manager-profiles__item,
.widget .social-manager-profiles__item a {
    color: #000;
}

/**
 * "Social Profiles" Author Template Tag
 */
.social-manager-profiles-author {
	margin: 15px 0;
}
.social-manager-profiles-author__item {
    margin-left: 10px;
}

/**
 * ================================================
 * Styles
 * ================================================
 */

[class^="social-manager"] .item-colored.item-facebook {
    fill: #3b5998;
    color: #3b5998;
}
[class^="social-manager"] .item-colored.item-twitter {
	fill: #1da1f2;
    color: #1da1f2;
}
[class^="social-manager"] .item-colored.item-googleplus {
	fill: #dd4b39;
    color: #dd4b39;
}
[class^="social-manager"] .item-colored.item-pinterest {
	fill: #bd081c;
    color: #bd081c;
}
[class^="social-manager"] .item-colored.item-linkedin {
    fill: #0077b5;
	color: #0077b5;
}
[class^="social-manager"] .item-colored.item-reddit {
    color: #ff4500;
	fill: #ff4500;
}
[class^="social-manager"] .item-colored.item-tumblr {
    color: #35465c;
	fill: #35465c;
}
[class^="social-manager"] .item-colored.item-email {
    color: #555;
	fill: #555;
}
