[class^="wp-social-manager"] svg {
	display: block;
}
[class^="wp-social-manager"] ul,
[class^="wp-social-manager"] ol {
	padding: 0;
	margin: 0;
	display: block;
}
[class^="wp-social-manager"] a {
	display: block;
	text-decoration: none;
	border: 0 !important;
}
[class^="wp-social-manager"] .item-facebook a:hover {
	color: #3b5998;
}
[class^="wp-social-manager"] .item-twitter a:hover {
	color: #1da1f2;
}
[class^="wp-social-manager"] .item-instagram a:hover {
	color: #833ab4;
}
[class^="wp-social-manager"] .item-pinterest a:hover {
	color: #bd081c;
}
[class^="wp-social-manager"] .item-linkedin a:hover {
	color: #0077b5;
}
[class^="wp-social-manager"] .item-googleplus a:hover {
	color: #dd4b39;
}
[class^="wp-social-manager"] .item-youtube a:hover {
	color: #cd201f;
}
[class^="wp-social-manager"] .item-dribbble a:hover {
	color: #ea4c89;
}
[class^="wp-social-manager"] .item-behance a:hover {
	color: #1769ff;
}
[class^="wp-social-manager"] .item-github a:hover {
	color: #333;
}
[class^="wp-social-manager"] .item-codepen a:hover {
	color: #000;
}

[class^="wp-social-manager"] .item-facebook a:hover svg {
	fill: #3b5998;
}
[class^="wp-social-manager"] .item-twitter a:hover svg {
	fill: #1da1f2;
}
[class^="wp-social-manager"] .item-instagram a:hover svg {
	fill: #833ab4;
}
[class^="wp-social-manager"] .item-pinterest a:hover svg {
	fill: #bd081c;
}
[class^="wp-social-manager"] .item-linkedin a:hover svg {
	fill: #0077b5;
}
[class^="wp-social-manager"] .item-googleplus a:hover svg {
	fill: #dd4b39;
}
[class^="wp-social-manager"] .item-youtube a:hover svg {
	fill: #cd201f;
}
[class^="wp-social-manager"] .item-dribbble a:hover svg {
	fill: #ea4c89;
}
[class^="wp-social-manager"] .item-behance a:hover svg {
	fill: #1769ff;
}
[class^="wp-social-manager"] .item-github a:hover svg {
	fill: #333;
}
[class^="wp-social-manager"] .item-codepen a:hover svg {
	fill: #000;
}

.wp-social-manager-follow-us__list {
	margin: 0;
	list-style: none;
}
.wp-social-manager-follow-us__item,
.wp-social-manager-follow-us__item a {
	display: block;
}
.rtl .wp-social-manager-follow-us__item {
	margin-right: 0;
	margin-left: 0.86em;
}

/**
 * View Icons
 */
 .wp-social-manager-follow-us__list--icon .wp-social-manager-follow-us__item,
 .wp-social-manager-buttons__list--icon .wp-social-manager-buttons__item {
 	width: 26px;
 	height: 26px;
 	margin-right: 0.86em;
 	margin-bottom: 1em;
 	display: inline-block;
 }

/**
 * View Text
 */
 .wp-social-manager-follow-us__list--text a,
 .wp-social-manager-buttons__list--icon a {
 	padding-top: .46em;
 	padding-bottom: .46em;
 }

/**
 * View Icon Text
 */
 .wp-social-manager-follow-us__list--icon-text a,
 .wp-social-manager-buttons__list--icon-text a {
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	padding-top: .46em;
 	padding-bottom: .46em;
 	-webkit-box-align: center;
 	-ms-flex-align: center;
 	align-items: center;
 }
 .wp-social-manager-follow-us__item-icon,
 .wp-social-manager-follow-us__item-text {
 	display: inline-block;
 }
 .wp-social-manager-follow-us__item-icon,
 .wp-social-manager-buttons__item-icon {
 	width: 26px;
 	height: 26px;
 	margin-right: 10px;
 }
 .rtl .wp-social-manager-follow-us__item-icon {
 	margin-right: 0;
 	margin-left: 10px;
 }

/**
 * Buttons
 */
.wp-social-manager-buttons--content {
	min-height: 34px;
}
.wp-social-manager-buttons--content-before {
	margin-bottom: 1.64em;
}
.wp-social-manager-buttons--content-after {
	margin-top: 1.64em;
}
.wp-social-manager-buttons .wp-social-manager-buttons__heading {
	font-size: 0.86em;
	margin: 0 0 10px 0;
}
.wp-social-manager-buttons .wp-social-manager-buttons__item {
	display: inline-block;
	margin-right: 0.86em;
}
.rtl .wp-social-manager-buttons .wp-social-manager-buttons__item {
	display: inline-block;
	margin-right: 0;
	margin-left: 0.86em;
}
.wp-social-manager-buttons--img {
	display: inline-block;
	position: relative;
}
.wp-social-manager-buttons--img .wp-social-manager-buttons__list {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 10;
	visibility: hidden;
}
.wp-social-manager-buttons--img .wp-social-manager-buttons__item {
	margin: 0;
	width: 36px;
	height: 36px;
}
.wp-social-manager-buttons--img .wp-social-manager-buttons__item a {
	padding: 5px;
	border-radius: 50%;
}

/**
 * On Hover Styling
 */
.wp-social-manager-buttons--img:hover img {
	opacity: 0.5;
}
.wp-social-manager-buttons--img:hover .wp-social-manager-buttons__list {
	visibility: visible;
}
.wp-social-manager-buttons--img .wp-social-manager-buttons__item a:hover svg {
	fill: #fff;
}

/**
 * Each Button Styling
 */
.wp-social-manager-buttons--img .item-pinterest svg {
	fill: #fff;
}
.wp-social-manager-buttons--img .item-pinterest a {
	background-color: #bd081c;
}