.field-image .field-image__wrap {
    max-width: 590px;
}

.field-image .field-image__wrap.is-set img {
    max-width: 100%;
    height: auto;
}

.field-image .field-image__wrap.is-set .field-image-placeholder {
    display: none;
}

.field-image .field-image__buttons {
	margin-top: 1em;
}
