#ninecodes-social-manager-settings .field-include-sites {
	max-width: 620px;
}
#ninecodes-social-manager-settings .field-include-sites th {
	font-size: .95em;
	padding: 10px;
}
#ninecodes-social-manager-settings .field-include-sites tbody td,
#ninecodes-social-manager-settings .field-include-sites tbody th {
	padding: 15px 10px;
	font-weight: 400;
}
#ninecodes-social-manager-settings .field-include-sites input[type=text] {
	max-width: 25em;
}
#ninecodes-social-manager-settings .field-include-sites .column-cb {
	width: 5%;
}
#ninecodes-social-manager-settings .field-include-sites .column-site {
	width: 20%;
}
