#wp-social-manager-screen .page-title-action {
	margin-left: 8px;
}

#wp-social-manager-screen form > h2 {
	margin-top: 2em;
}

#wp-social-manager-screen .nav-tab-wrapper {
	margin: 1.5em 0 1.5em;
	border-bottom: 1px solid #ccc;
}

#wp-social-manager-screen .setting-tab-title {
	font-size: 23px;
    font-weight: 400;
    margin: 0;
    padding: 9px 15px 4px 0;
    line-height: 29px;
}
#wp-social-manager-screen .setting-tab-description {
	font-size: 1.05em;
	font-weight: 400;
	color: #666;
	margin: 2em 0 1.5em;
}

#wp-social-manager-screen .field-image-control {
	margin-top: 0.867em;
}
#wp-social-manager-screen .field-image-placeholder {
	width: 100%;
	max-width: 378px;
    position: relative;
    text-align: center;
    padding: 2em 0;
    line-height: 1.3;
    border: 1px dashed #b4b9be;
    box-sizing: border-box;
}
#wp-social-manager-screen .field-image-wrap.is-set .field-image-placeholder {
	display: none;
}